@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for a cleaner look */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f5f9; /* gray-100 */
  }
  ::-webkit-scrollbar-thumb {
    background: #94a3b8; /* gray-400 */
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* gray-500 */
  }
}